[defaults]
interpreter_python=auto_silent

[privilege_escalation]

[persistent_connection]

[connection]

[colors]

[selinux]

[diff]

[galaxy]

[inventory]

[netconf_connection]

[paramiko_connection]

[jinja2]

[tags]
